--index-url https://pypi.python.org/simple/

# Application dependencies live in setup.py.
-e .

# Development dependencies can go here.
flake8==3.4.1
flake8-quotes
hacking
nose
pep8
pycodestyle
pyflakes
